obj/Debug/net8.0/
obj/Debug/net8.0/sstestwebapp.AssemblyInfo.cs
obj/Debug/net8.0/sstestwebapp.AssemblyInfoInputs.cache
obj/Debug/net8.0/sstestwebapp.AssemblyInfo.cs
obj/Debug/net8.0/sstestwebapp.AssemblyInfoInputs.cache
